<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/loginPage.css">
    <link rel="stylesheet" href="/studentAdminPage.css">
    <link rel="stylesheet" href="/aboutPage.css">
    
</head>
<body class="student-body">
    <div class="header">
        
        <h3 class="header-element header-text-1">My Library</h3>
        <a href="homepage.html"><h3 class="header-element header-text-2">Home</h3></a>
        <a href="loginPage.html"><h3 class="header-element header-text-3">Login</h3></a>
        <a href="AboutPage.html"><h3 class="header-element header-text-4">About</h3></a>  
    </div>
    <h1 class="heading">Project Name- Library Management System</h2>
    <form action="" class="group-description">
        <h2>Assignment No-3</h2>
        <h2>Group Id -10</h2>
        <h2>Group Member</h2>
         <div class="group-members">
            <p class="member">Shubham Panda Id-IIT2021144</p>
            <p class="member">Shubhendra Gautam Id-IIT2021142</p>
            <p class="member">Vishal Kumar Id-IIT2021196</p>
            <p class="member">Chandan Kumar Id-IIT2021209</p>
            <p class="member">Avaneesh Rav Vikram Id-IIT2021211</p>
        </div>
         
    </form>
    <h2 class="end-text"> Poject Instructor- Pro. Soumyadev Maity</h2>
    <h2 class="end-text">Thank you</h2>
    <div class="footer">
        <h6 class="footer-text">Library Management System @IIIT Allahabad</h6>
        
    </div>
</body>
</html>