<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    
    <link rel="stylesheet" type="text/css" href="/loginPage.css">
    <link rel="stylesheet" type="text/css" href="/homepage.css">
   
</head>
<body class="login-page-body">

    
    <div class="header">
        
        <h3 class="header-element header-text-1">My Library</h3>
        <a href="homepage.html"><h3 class="header-element header-text-2">Home</h3></a>
        <a href="loginPage.html"><h3 class="header-element header-text-3">Login</h3></a>
        <a href="AboutPage.html"><h3 class="header-element header-text-4">About</h3></a>     
    </div>


    <div class="welcome-heading">
        
        <h1 class="welcome-heading-text">Welcome to My Library</h1>
  
    </div>

    <div class="todays-book-hunt">
        <h2>Daily book hunt</h2>
        <img class="book-cover" src="/images/download.jpeg" alt="book-cover" >
        <p class="book-hunt-text">Title: Wings of Fire</p>
        <p class="book-hunt-text">Author: Dr. APJ Abdul Kalam</p>
        <p class="book-hunt-text">Description: Wings of Fire, is the autobiography of the Missile Man of 
        India and President of India, Dr. A. P. J. Abdul Kalam. It was written by him and Arun Tiwari.</p>

    </div>


   

    <div class="footer">
        <h6 class="footer-text">Library Management System @IIIT Allahabad</h6>
        
    </div>
</body>
</html>