<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/loginPage.css">
    <link rel="stylesheet" href="/studentAdminPage.css">
    
    
</head>
<body class="student-body">
    <div class="header">
        
        <h3 class="header-element header-text-1">My Library</h3>
        <a href="homepage.html"><h3 class="header-element header-text-2">Home</h3></a>
        <a href="loginPage.html"><h3 class="header-element header-text-3">Login</h3></a>
        <a href="AboutPage.html"><h3 class="header-element header-text-4">About</h3></a>  
    </div>
    <div class="all-issues">
        <table>
            <tr>
                <th class="all-issues-th">Issue ID</th>
                <th class="all-issues-th">User ID</th>
                <th class="all-issues-th">Book ID</th>
            </tr>
            <% for(var i=0; i < data.length; i++) { %>
               <tr>
                 <td class="all-issues-td"><%= data[i].issue_id %></td>
                 <td class="all-issues-td"><%= data[i].user_id %></td>
                 <td class="all-issues-td"><%= data[i].book_id %></td>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="footer">
        <h6 class="footer-text">Library Management System @IIIT Allahabad</h6>
        
    </div>
</body>
</html>