.button{
    position: relative;
    top: 400px;
    left: 200px;
    font-family: 'Inter';
    background-color: #8770a6;
    width: 250px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc; 
    border-radius: 10px; 
    font-size: 28px; 
}